#container_about {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    gap: 0;
    padding-bottom: 10px;
    width: 100%;
    color: white;
}

#container_about .about {
    width: 60%;
    padding:10px 15px;
    border-radius: 18px;
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(18, 19, 24));
    box-shadow: 1px 1px 12px  rgba(118, 191, 255, 0.199);
}

#container_about .about h1 {
    font-family: 'Roboto';
    margin-bottom: 6px;
    font-size: 19px;
    padding-left: 10px;
}


#container_about .about p {
    font-family: 'Roboto';
    margin: 5px 0px;
    font-size: 17px;
    padding-left: 10px;
    margin-bottom: 9px;
    color: rgb(175, 175, 175);
}

#container_about .stats {
display: flex;
justify-content: center;
align-items: stretch;
}

#container_about .stats div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    user-select: none;
    overflow: hidden;
    width: 90%;
    box-shadow: 1px 1px 12px  rgb(118, 191, 255);
margin: 10px 14px;
background-color: rgb(21, 21, 27);
border-radius: 12px;
animation: down_stats 0.3s ease-in-out both;
}

#container_about .about:hover .stats div {
    background-color: rgb(142, 255, 255);
    color: black;
    animation: up_stats 0.3s ease-in-out both;
}

#container_about .about:hover .stats div:nth-child(2) {
    transition-delay: 0.25s;
    animation-delay: 0.25s;
}

#container_about .about:hover .stats div:nth-child(3) {
    transition-delay: 0.55s;
    animation-delay: 0.55s;
}
@keyframes down_stats {
    0% {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}
@keyframes up_stats {
    0% {transform: translateY(0px);}
    100% {transform: translateY(-5px);}
}
#container_about .stats h2 {
font-family: roboto;
padding: 0;
margin: 10px;
margin-top: 15px;
}


#container_about .stats div span {
    text-align: center;
    margin-bottom: 10px;
    font-family: roboto;
}

.instruments {
    font-family: roboto;
    width: 25%;
    padding:10px 15px;
    border-radius: 18px;
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(18, 19, 24));
    box-shadow: 1px 1px 12px  rgba(118, 191, 255, 0.199);
}

.instruments:hover {
    transition: 0.3s;
}
.instruments h1 {
    font-family: 'Roboto';
    margin-bottom: 10px;
    font-size: 19px;
    padding-left: 10px;
}

.instruments span {
    margin-bottom: 6px;
    font-size: 17px;
    padding-left: 10px;
}

.instruments .bar {
    width: 90%;
    height: 12px;
    background-color: rgb(30, 30, 36);
    border-radius: 8px;
    margin: 6px 10px;
}

.instruments .bar div {
    width: 0%;
    background-color: rgb(142, 255, 255);
    height: 100%;
    border-radius: 8px;
    transition: 0.4s;
}

@keyframes grow_bar_1 {
    0% {width: 0%;}
    100% {width: 85%;}
}
.instruments  .TaskBar:nth-child(1) .bar div {
    animation: grow_bar_1 0.4s ease-in-out both;
    animation-delay: 2s;
    
}

@keyframes grow_bar_2 {
    0% {width: 0%;}
    100% {width: 75%;}
}
.instruments .TaskBar:nth-child(2) .bar div {
    animation: grow_bar_2 0.4s ease-in-out both;
    animation-delay: 2.3s;
}

@keyframes grow_bar_3 {
    0% {width: 0%;}
    100% {width: 90%;}
}

.instruments  .TaskBar:nth-child(3) .bar div {
    animation: grow_bar_3 0.4s ease-in-out both;
    animation-delay: 2.5s;
}

@keyframes grow_bar_4 {
    0% {width: 0%;}
    100% {width: 80%;}
}
.instruments  .TaskBar:nth-child(4) .bar div {
    animation: grow_bar_4 0.4s ease-in-out both;
    animation-delay: 2.7s;
}


.instruments #container_bars {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}