#Contact {
        width: 100%;
        padding: 30px;
        padding-top: 0px;
        color:white;
        padding-bottom: 10px;   
        font-family: roboto;
}

#title_contact {
        font-size: 18px;
}
#container_contact {    
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 26px;
    width: 100%;
}
.info_contact ul {
        padding: 0px;

}

.info_contact ul li {
        display: flex;
        justify-content: start;
        align-items: center;
}

.info_contact ul li a {
        font-size: 24px;
}


.form_contact {
        padding: 10px 20px;
        border-radius: 18px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        background: linear-gradient(180deg, rgb(17, 17, 17), rgb(18, 19, 24));
        box-shadow: 1px 1px 12px  rgba(118, 191, 255, 0.199);
}
.form_contact h1 {
        font-size: 22px;
}
.form_contact form {
               display: flex;
        justify-content: center ;
        align-items: start;
        width: 100%;
        flex-direction: column;
}

.form_contact form input {
        width: 100%;
        height: 30px;
        border: none;
        background-color: rgb(19, 19, 19);
        border-radius: 6px;
        box-shadow: 1px 1px 12px  rgba(118, 191, 255, 0.199);
        color: white;
}

.form_contact form input::placeholder {
        padding-left: 5px;
}

.form_contact form textarea::placeholder {
        padding-left: 5px;
}
.form_contact label {
        padding: 10px 0px;
}
.form_contact label:nth-child(3) {
        padding-bottom: 0px;
}

.info_contact {
        padding: 10px 20px;
        width: 50%;
        box-shadow: 1px 1px 12px  rgba(118, 191, 255, 0.199);
        border-radius: 18px;
       background: linear-gradient(180deg, rgb(17, 17, 17), rgb(18, 19, 24));
}

.info_contact h1 {
        font-size: 22px;
}

.form_contact textarea {
          width: 100%;
          resize: none;
          height: 100px;
          font-size: 13px;
          color: white;
          box-shadow: 1px 1px 12px  rgba(118, 191, 255, 0.199);
          border: none;
          background-color: rgb(19, 19, 19);
          border-radius: 6px;
          font-family: roboto;
          margin: 10px 0px;

}

.form_contact button {
    background-color: rgb(14, 18, 20);
    color: white;
    border: none;
    box-shadow: 1px 1px 12px  rgba(118, 191, 255, 0.582);
    border-radius: 8px;
    padding: 10px 16px;
    margin: 10px;
    margin-left: 0px;
    font-size: 14px;
    font-family: roboto;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form_contact    button:hover {
    background-color: rgb(118, 191, 255);
    color: black;
}

.info_contact ul {
        list-style: none;
}

.info_contact ul a {
        color: white;
        display: flex;
        text-decoration: none;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        padding: 8px 0px;
        user-select: none;
        width: 100%;
        border-radius: 10px;
}

.info_contact ul a:hover {
                background-color: rgba(44, 78, 78, 0.24);
}
.info_contact img {
        width: 20px;
        padding-left: 5px;
        padding-right: 10px;
}
