footer {
    position:-webkit-sticky;
    background-size: 5%;
    background-position: 10px;
    width: 125%;
    margin-top:10px;
    height: 30%;
    color: white;
    font-family: monospace;
    margin-bottom: 40px;
}

#main_footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
footer h2 {
    text-align: center;
    margin: 5px;
    margin-top: 45px;
}

footer #footer_container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 97%;
    height: 100%;
    margin-top: 10px;
}
footer #footer_container .logocontainer {
display: flex;
align-items: center;
justify-content: space-between;
}

footer #footer_container .container_text_logo {
    align-self: start;
}
footer #footer_container ul {
display: flex;
list-style-type: none;
justify-content: center;
align-items: start;
flex-direction: column;
align-self: center;
}

footer #footer_container ul li {
    font-size: 20px;
    margin: 0px 15px;
    font-family: roboto;
    margin-bottom: 7px;
}

footer #footer_container .logocontainer  img{
position: static;
cursor: default;
width: 40px;
}

footer #footer_container .logocontainer  h1 {
font-size: 40px;
font-family:DynaPuff;
font-weight: 500;
margin: 5px;
}

footer #footer_container span {
font-size: 20px;
font-family: monospace;
font-weight: 700;
}

footer #line1 {
    display: block;
    height: 2px;
    width: 80%;
    margin: 10px;
    margin-top: 40px;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(121, 141, 253, 0.24) 0, rgba(16, 147, 255, 0.233) 24.48%, rgba(30, 136, 229, .5) 47.4%, rgba(30, 136, 229, 0.212) 100%);
}

footer #link_thefuzeexd {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

footer #link_thefuzeexd span {
font-size: 15px;
}

footer #link_thefuzeexd a {
    color: rgb(148, 148, 148);
}
#contactMalito {
    display: inline;
    text-decoration: none;
    color: rgb(88, 208, 255);
    transition: color 0.1;
    margin: 0px;
    margin-top: 0px;
}

#contactMalito:hover {
    color: rgb(90, 255, 255);
}
footer a {
    text-decoration: none;
    font-family: monospace;
    font-size: 18px;
    color: rgb(108, 117, 143);
    margin: auto;
    transition: color 0.1;
    margin: 0px 15px;
    padding: 3px;
}

footer a:hover {
    color: rgb(51, 189, 177);
}

footer img {
    user-select: none;
    position: sticky;
    left: 2630px;
    cursor: pointer;
    margin-right: 10px;
    bottom: 10px;
    width: 30px;
}

footer #ImgBox {
    width: 100%;
}


@media screen and (max-width: 900px) {

    footer {
        background-size: 60%;
    }

}